<html>
  <body>
    <form method="POST" action="/new">
      <label for="Name">Name:</label>
      <input id="Name" type="text" />
      <br />
      <label for="Message">Message:</label>
      <input id="Message" type="text" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
